<!DOCTYPE>
<html>
<head>
	<meta charset="UTF-8">
	<base href="/">

	<title>TV Maze</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>

	<script src="app.js"></script>
	<script src="js/shows/search.controller.js"></script>
	<script src="js/shows/shows.service.js"></script>
	<script src="js/showDetails/details.controller.js"></script>
	<script src="js/showDetails/details.service.js"></script>

</head>
<body ng-app="app" style="background: #2D3238;">

	<nav class="navbar navbar-inverse navbar-static-top" style="background:#AB2B2B;">
		<div class="navbar-header">
			<h4 class="navbar-brand" href="#">TV Maze App</a>
		</div>
	</nav>

	<div ng-view></div>

</body>
</html>
